<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BusinessObject.My.MySettings.dbTCSConnectionString" connectionString="Data Source=192.168.110.174;Initial Catalog=dbMehrVosul;Persist Security Info=True;User ID=sa;Password=dashpass123" providerName="System.Data.SqlClient" />
    <add name="BusinessObject.My.MySettings.NOJOOMConnectionString" connectionString="Data Source=10.35.91.6;Initial Catalog=NOJOOM;Persist Security Info=True;User ID=nojoom;Password=Tehran123" providerName="System.Data.SqlClient" />
   
  <add name="dbMehrVosulEntities1" connectionString="metadata=res://*/Context.dbMehrVosul.csdl|res://*/Context.dbMehrVosul.ssdl|res://*/Context.dbMehrVosul.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.110.174;initial catalog=dbMehrVosul;persist security info=True;user id=sa;password=dashpass123;multipleactiveresultsets=True;application name=EntityFramework;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>