<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MehrVosul.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BusinessObject.My.MySettings.dbTCSConnectionString" connectionString="Data Source=.\SQL2008;Initial Catalog=dbMehrVosul;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="dbMehrVosulEntities1" connectionString="metadata=res://*/Context.dbMehrVosul.csdl|res://*/Context.dbMehrVosul.ssdl|res://*/Context.dbMehrVosul.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQL2008;initial catalog=dbMehrVosul;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework;MultipleActiveResultSets=True" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms name="TCS_Username" loginUrl="~/Login.aspx" protection="All" timeout="30" path="/" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/Login.aspx" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <MehrVosul.My.MySettings>
      <setting name="MehrVosul_ZamanakWebService_Default_Service_SoapServer_ZamanakV4Service"
        serializeAs="String">
        <value>http://www.zamanak.ir/api/soap-v4</value>
      </setting>
      <setting name="MehrVosul_VoiceSMS_RahyabVoiceSend" serializeAs="String">
        <value>http://192.168.110.52/RahyabVoiceSend.asmx</value>
      </setting>
      <setting name="MehrVosul_NewZamankVoice_MehrVoice" serializeAs="String">
        <value>http://localhost:51129/MehrVoice.asmx</value>
      </setting>
    </MehrVosul.My.MySettings>
  </applicationSettings>
</configuration>